<div class='holder'>
    <div class='posicionamientoForm'>
        <h2>Modificar</h2>
    </div>
    <div class='posicionamientoForm'>
        <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
            <div>
                <input type="hidden" name="id" value="{{novedad.id}}"/>
            </div>
            <div>
                <input type="text" placeholder="Titulo" name="titulo" value="{{novedad.titulo}}"/>
            </div>
            <div>
                <textarea type="text" placeholder="Subtitulo" name="subtitulo">{{novedad.subtitulo}}</textarea>
            </div>
             <div>
                <label>Imagen: <input type='file' name='imagen' id='imagen' /></label>
            </div>
             <div>
                <label><input type='checkbox' name='img_delete' id='img_delete' value='1'>
                Eliminar imagen actual?</label>
                <input type='hidden' name='img_original' value='{{novedad.img_id}}'>
            </div>

            <div>
                <textarea type="text" placeholder="Cuerpo" name="cuerpo">{{novedad.cuerpo}}</textarea>
            </div>
            <div>
                <button class='btnEditar' type="submit">Modificar</button>
            </div>
        </form>
        {{#if error}}
            <p>{{message}}</p>
        {{/if}} 
    </div>
    
</div>